<div class="auth-wrapper auth-v2">
    <div class="auth-inner row m-0">
        <!-- Register-->
        <div class="d-flex col-lg-12 align-items-center auth-bg">
            <div class="col-12 col-sm-8 col-md-6 col-lg-6 mx-auto mt-4">
                <img class="mt-4" src="../../../../../assets/images/logo/logo.png" alt="brand-logo" height="50" />
                <br> <br>
                <h2 class="card-title font-weight-bold mb-1">{{ 'REGISTER_AS_INSTRUCTOR' | translate }} 👋</h2>
                <p class="card-text mb-2">{{ 'CREATE_ACCOUNT_START_ADVENTURE' | translate }}</p>
                <br>
                <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
                    <div class="alert-body">
                        <p>{{ error }}</p>
                    </div>
                </ngb-alert>

                <form class="auth-login-form mt-2" [formGroup]="viewForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <!-- First Name -->
                        <div class="form-group col-md-6 col-12">
                            <label for="firstName">{{ 'FIRST_NAME' | translate }}</label>
                            <input type="text" id="firstName" class="form-control" formControlName="firstName"
                                required />
                            <small
                                *ngIf="viewForm.get('firstName').hasError('required') && viewForm.get('firstName').touched"
                                class="form-text text-danger">
                                {{ 'REQUIRED_FIELD' | translate }}
                            </small>
                        </div>

                        <!-- Last Name -->
                        <div class="form-group col-md-6 col-12">
                            <label for="lastName">{{ 'LAST_NAME' | translate }}</label>
                            <input type="text" id="lastName" class="form-control" formControlName="lastName" required />
                            <small
                                *ngIf="viewForm.get('lastName').hasError('required') && viewForm.get('lastName').touched"
                                class="form-text text-danger">
                                {{ 'REQUIRED_FIELD' | translate }}
                            </small>
                        </div>

                        <!-- Email -->
                        <div class="form-group col-md-6 col-12">
                            <label for="email">{{ 'EMAIL' | translate }}</label>
                            <input type="email" id="email" class="form-control" formControlName="email" required />
                            <small *ngIf="viewForm.get('email').hasError('required') && viewForm.get('email').touched"
                                class="form-text text-danger">
                                {{ 'REQUIRED_FIELD' | translate }}
                            </small>
                        </div>

                        <!-- Password -->
                        <div class="form-group col-md-6 col-12">
                            <label for="password">{{ 'PASSWORD' | translate }}</label>
                            <input type="password" id="password" class="form-control" formControlName="password" />
                        </div>

                        <!-- Phone -->
                        <div class="form-group col-md-6 col-12">
                            <label for="phone">{{ 'PHONE' | translate }}</label>
                            <input type="tel" id="phone" class="form-control" formControlName="phone" required />
                            <small *ngIf="viewForm.get('phone').hasError('required') && viewForm.get('phone').touched"
                                class="form-text text-danger">
                                {{ 'REQUIRED_FIELD' | translate }}
                            </small>
                        </div>
                        <!-- Country -->
                         <!-- Country Select -->
                        <div class="form-group col-md-6 col-12">
                        <label class="form-label" for="countryId">Nationality</label>
                        <select id="countryId" class="form-control" formControlName="countryId">
                            <option *ngFor="let country of countries" [value]="country.id">
                            {{ country.flag }} {{ country.name }}
                            </option>
                        </select>
                        <small
                            *ngIf="viewForm.get('countryId').hasError('required') && viewForm.get('countryId').touched"
                            class="form-text text-danger">
                            {{ 'REQUIRED_FIELD' | translate }}
                        </small>
                        </div>

                        <!-- Educational Gate -->
                        <div class="form-group col-md-6 col-12">
                            <label class="form-label" for="educationalPortalId">{{ 'EDUCATIONAL_GATE' | translate
                                }}</label>
                            <select id="educationalPortalId" class="form-control" formControlName="educationalPortalId"
                                (change)="onGateChange()">
                                <option *ngFor="let gate of educationalGates" [value]="gate.id">{{ gate.nameEn }}
                                </option>
                            </select>
                            <small
                                *ngIf="viewForm.get('educationalPortalId').hasError('required') && viewForm.get('educationalPortalId').touched"
                                class="form-text text-danger">
                                {{ 'REQUIRED_FIELD' | translate }}
                            </small>
                        </div>

                        <!-- Educational Subject -->
                        <div class="form-group col-md-6 col-12">
                            <label class="form-label" for="subjectId">{{ 'EDUCATIONAL_SUBJECT' | translate }}</label>
                            <select id="subjectId" class="form-control" formControlName="subjectId"
                                (change)="onSubjectChange()">
                                <option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.nameEn }}
                                </option>
                            </select>
                            <small
                                *ngIf="viewForm.get('subjectId').hasError('required') && viewForm.get('subjectId').touched"
                                class="form-text text-danger">
                                {{ 'REQUIRED_FIELD' | translate }}
                            </small>
                        </div>

                        <!-- Experience (Arabic) -->
                        <div class="form-group col-12">
                            <label for="experienceAr">{{ 'EXPERIENCE_ARABIC' | translate }}</label>
                            <textarea id="experienceAr" class="form-control" formControlName="experienceAr" rows="4"
                                required></textarea>
                            <small
                                *ngIf="viewForm.get('experienceAr').hasError('required') && viewForm.get('experienceAr').touched"
                                class="form-text text-danger">
                                {{ 'REQUIRED_FIELD' | translate }}
                            </small>
                        </div>

                        <!-- Experience (English) -->
                        <div class="form-group col-12">
                            <label for="experienceEn">{{ 'EXPERIENCE_ENGLISH' | translate }}</label>
                            <textarea id="experienceEn" class="form-control" formControlName="experienceEn" rows="4"
                                required></textarea>
                            <small
                                *ngIf="viewForm.get('experienceEn').hasError('required') && viewForm.get('experienceEn').touched"
                                class="form-text text-danger">
                                {{ 'REQUIRED_FIELD' | translate }}
                            </small>
                        </div>
                    </div>

                    <br>
                    <button [disabled]="loading" class="btn btn-primary btn-block" tabindex="4" rippleEffect>
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        {{ 'CREATE_ACCOUNT' | translate }}
                    </button>
                </form>

                <p class="text-center mt-2">
                    <span>{{ 'ALREADY_HAVE_ACCOUNT' | translate }}</span>
                    <a routerLink="/pages/auth/login"><span>&nbsp;{{ 'LOGIN' | translate }}</span></a>
                </p>
                <div class="divider my-2" hidden>
                    <div class="divider-text">{{ 'OR' | translate }}</div>
                </div>
            </div>
        </div>
        <!-- /Login-->
    </div>
</div>