/* financial-report.component.scss */
.card {
  border-radius: 1rem;
  transition: transform 0.2s ease-in-out;
}
.card:hover {
  transform: translateY(-5px);
}
select{
    border: 2px solid #cecece;
    border-radius: 8px;
    padding: 3px;
}