<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="form-group mb-3 position-relative">
    <label>Old Password</label>
    <input [type]="showOldPassword ? 'text' : 'password'" class="form-control pe-5" formControlName="oldPassword">
    <span class="password-toggle" (click)="toggleOldPasswordVisibility()">
      <i class="fa" [ngClass]="showOldPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
    </span>
  </div>

  <div class="form-group mb-3 position-relative">
    <label>New Password</label>
    <input [type]="showNewPassword ? 'text' : 'password'" class="form-control pe-5" formControlName="newPassword">
    <span class="password-toggle" (click)="toggleNewPasswordVisibility()">
      <i class="fa" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
    </span>
  </div>

  <div *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</div>
  <div *ngIf="successMsg" class="alert alert-success">{{ successMsg }}</div>

  <button class="btn btn-primary w-100" type="submit" [disabled]="passwordForm.invalid">
    Update Password
  </button>
</form>
