button{
    cursor: pointer;
}
.password-toggle {
  position: absolute;
  top: 71%;
  right: 0px;
  overflow: hidden;
  border-radius: 8px 8px 0px 0px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
  font-size: 1.1rem;
  user-select: none;
  background-color: #f3ebeb;
  padding: 5px 10px;
}
.form-control.pe-5 {
  padding-right: 2.5rem !important;
}