<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- Admin List -->
        <section class="admins-list-wrapper">

            <!-- Card Header -->
            <div *ngIf="hasHeader" class="card">
                <h5 class="card-header">{{ 'EDUCATIONAL_GATES' | translate }}</h5>
            </div>

            <!-- Loading Spinner -->
            <div *ngIf="isLoading" class="spinner-grow" role="status">
                <span class="sr-only">{{ 'LOADING' | translate }}</span>
            </div>

            <!-- Main Card -->
            <div *ngIf="!isLoading" class="card">
                <div class="row p-2">
                    <!-- Show Entries -->
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center">{{ 'SHOW' | translate }}
                                <select class="form-control mx-25" [(ngModel)]="selectedOption">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                {{ 'ENTRIES' | translate }}
                            </label>
                        </div>
                    </div>
                    <!-- Search Input -->
                    <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end">
                            <label class="d-flex align-items-center m-2 ml-md-0">{{ 'SEARCH' | translate }}:</label>
                            <input [(ngModel)]="searchValue" name="searchValue" type="search" class="form-control"
                                (keyup)="filterUpdate($event)" (search)="filterUpdate($event)" />
                            <!-- Add New Button -->
                            <button *ngIf="hasHeader" class="btn btn-primary m-2 col-4" rippleEffect
                                (click)="addItem()">
                                {{ 'ADD_NEW' | translate }}
                            </button>
                        </div>
                    </div>
                </div>

                <!-- View Table -->
                <ngx-datatable [rows]="rows" [rowHeight]="100" class="bootstrap core-bootstrap" [limit]="selectedOption"
                    [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true">

                    <!-- ID -->
                    <ngx-datatable-column name="#" prop="id" [width]="50">
                        <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                {{ row.id }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>


                    <!-- Requested By -->
                    <ngx-datatable-column name="{{ 'REQUESTED_BY' | translate }}" prop="name">
                        <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                {{ row.user.firstName }} {{ row.user.lastName }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- Bank Information -->
                    <ngx-datatable-column name="{{ 'BANK_INFORMATION' | translate }}" prop="name" [width]="0">
                        <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                {{ 'BANK_NAME' | translate }}: {{ row.bankName }}
                                <br> {{ 'BANK_ACCOUNT_NAME' | translate }}: {{ row.bankAccountName }}
                                <br> {{ 'BANK_ACCOUNT_NUMBER' | translate }}: {{ row.bankAccountNumber }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- Amount -->
                    <ngx-datatable-column name="{{ 'AMOUNT' | translate }}" prop="amount">
                        <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                {{ row.amount }} EGP
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- Status -->
                    <ngx-datatable-column name="{{ 'STATUS' | translate }}" prop="title">
                        <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                            <div *ngIf="row.status == 2" class="badge badge-light-primary">
                                {{ 'COMPLETED' | translate }}
                            </div>
                            <div *ngIf="!row.active" class="badge badge-light-danger">
                                {{ 'PENDING' | translate }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- Actions -->
                    <ngx-datatable-column name="{{ 'ACTIONS' | translate }}" [sortable]="false">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <div class="row">
                                <!-- Edit Action -->
                                <button (click)="editItem(row)" class="btn btn-flat-secondary" rippleEffect>
                                    <span [data-feather]="'edit'"></span>
                                </button>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
        </section>
        <!-- Gate List -->
    </div>
</div>