.profile-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  max-width: 500px;
  margin: 20px auto;
  text-align: center;

  img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
  }

  .warning {
    color: red;
    font-weight: bold;
  }
  button{
    font-size: 18px;
    width: 190px;
    margin-right: 8px;
    font-weight: bold;
  }
}
.custom-toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 9999;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.95;
  font-weight: 500;
}

/* Success (green) */
.custom-toast.success {
  background-color: #28a745;
}

/* Error (red) */
.custom-toast.error {
  background-color: #dc3545;
}

