<div class="auth-wrapper auth-v2">
    <div class="auth-inner row m-0">
        <!-- Brand logo-->
        <a class="brand-logo" href="#">
            <img class="m-4" src="../../../../../assets/images/logo/logo.png" alt="brand-logo" height="50" />
        </a>
        <!-- /Brand logo-->

        <!-- Left Text-->
        <div class="d-none d-lg-flex col-lg-6 align-items-center p-5">
            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
                <img class="img-fluid"
                    [src]="coreConfig.layout.skin === 'dark' ? 'assets/images/pages/login-dark.svg' : 'assets/images/pages/login.svg'"
                    alt="Login V2" />
            </div>
        </div>
        <!-- /Left Text-->

        <!-- Login-->
        <div class="d-flex col-lg-6 align-items-center auth-bg px-2 p-lg-5">
            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                <div class="row align-items-center m-2">
                    <h6 class="pr-2">{{ 'CHOOSE_LANGUAGE' | translate }}</h6>
                    <ul class="nav navbar-nav">
                        <!-- Language selection -->
                        <li ngbDropdown class="nav-item dropdown dropdown-language">
                            <a class="nav-link dropdown-toggle" id="dropdown-flag" ngbDropdownToggle>
                                <i
                                    class="flag-icon flag-icon-{{ languageOptions[_translateService.currentLang].flag }}"></i>
                                <span class="selected-language pl-2">{{
                                    languageOptions[_translateService.currentLang].title }}</span>
                            </a>
                            <div ngbDropdownMenu aria-labelledby="dropdown-flag">
                                <a *ngFor="let lang of _translateService.getLangs()" ngbDropdownItem
                                    (click)="setLanguage(lang)">
                                    <i class="flag-icon flag-icon-{{ languageOptions[lang].flag }}"></i> {{
                                    languageOptions[lang].title }}
                                </a>
                            </div>
                        </li>
                        <!--/ Language selection -->
                    </ul>
                </div>

                <h2 class="card-title font-weight-bold mb-1">{{ 'WELCOME_TO_IAM_IN' | translate }}</h2>
                <p class="card-text mb-2">{{ 'SIGN_IN_MESSAGE' | translate }}</p>

                <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
                    <div class="alert-body">
                        <p>{{ error }}</p>
                    </div>
                </ngb-alert>

                <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="form-label" for="login-email">{{ 'EMAIL_LABEL' | translate }}</label>
                        <input type="text" formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                            placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}" aria-describedby="login-email" autofocus
                            tabindex="1" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">{{ 'EMAIL_REQUIRED' | translate }}</div>
                            <div *ngIf="f.email.errors.email">{{ 'EMAIL_VALID' | translate }}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- <div class="d-flex justify-content-between">
                            <label for="login-password">{{ 'PASSWORD_LABEL' | translate }}</label>
                            <a routerLink="/pages/authentication/forgot-password-v2"><small>{{ 'FORGOT_PASSWORD' |
                                    translate }}</small></a>
                        </div> -->
                        <div class="input-group input-group-merge form-password-toggle">
                            <input [type]="passwordTextType ? 'text' : 'password'" formControlName="password"
                                class="form-control form-control-merge"
                                [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
                                placeholder="············" aria-describedby="login-password" tabindex="2" />
                            <div class="input-group-append">
                                <span class="input-group-text cursor-pointer">
                                    <i class="feather font-small-4"
                                        [ngClass]="{ 'icon-eye-off': passwordTextType, 'icon-eye': !passwordTextType }"
                                        (click)="togglePasswordTextType()"></i>
                                </span>
                            </div>
                        </div>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback"
                            [ngClass]="{ 'd-block': submitted && f.password.errors }">
                            <div *ngIf="f.password.errors.required">{{ 'PASSWORD_REQUIRED' | translate }}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="remember-me" type="checkbox" tabindex="3" />
                            <label class="custom-control-label" for="remember-me">{{ 'REMEMBER_ME' | translate
                                }}</label>
                        </div>
                    </div>

                    <button [disabled]="loading" class="btn btn-primary btn-block" tabindex="4" rippleEffect>
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        {{ 'SIGN_IN' | translate }}
                    </button>

                    <button [disabled]="loading" class="btn btn-outline-secondary btn-block" tabindex="4"
                        routerLink="/pages/auth/instructor-register" rippleEffect>
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        {{ 'REGISTER_INSTRUCTOR' | translate }}
                    </button>

                    <button [disabled]="loading" class="btn btn-outline-success btn-block" tabindex="4"
                        routerLink="/pages/auth/org-register" rippleEffect>
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        {{ 'REGISTER_ORGANIZATION' | translate }}
                    </button>
                </form>

                <p class="text-center mt-2" hidden>
                    <span>{{ 'NEW_ON_PLATFORM' | translate }}</span>
                    <a routerLink="/pages/authentication/register-v2"><span>&nbsp;{{ 'CREATE_ACCOUNT' | translate
                            }}</span></a>
                </p>
                <div class="divider my-2" hidden>
                    <div class="divider-text">{{ 'OR' | translate }}</div>
                </div>

                <div class="auth-footer-btn d-flex justify-content-center">
                    <a class="btn btn-facebook" href="javascript:void(0)" hidden><i data-feather="facebook"></i></a>
                    <a class="btn btn-twitter white" href="javascript:void(0)" hidden><i data-feather="twitter"></i></a>
                    <a class="btn btn-google" href="javascript:void(0)" hidden><i data-feather="mail"></i></a>
                    <a class="btn btn-github" href="javascript:void(0)" hidden><i data-feather="github"></i></a>
                </div>
            </div>
        </div>
        <!-- /Login-->
    </div>
</div>