<!-- Screen Header -->
<div class="card">
    <h5 class="card-header">{{ 'TERMS_AND_CONDITIONS' | translate }}</h5>
</div>
<!-- Screen Header -->

<div *ngIf="isLoading" class="spinner-grow" role="status">
    <span class="sr-only">{{ 'LOADING' | translate }}...</span>
</div>

<form *ngIf="!isLoading" [formGroup]="termsAndConditionsForm" (ngSubmit)="onSubmit()">

    <div class="row">

        <!-- English Title -->
        <div class="form-group col-md-6 col-12">
            <label for="title">{{ 'ENGLISH_TITLE' | translate }}</label>
            <input type="text" id="title" class="form-control" formControlName="title" required />
            <small
                *ngIf="termsAndConditionsForm.get('title').hasError('required') && termsAndConditionsForm.get('title').touched"
                class="form-text text-danger">
                {{ 'REQUIRED_FIELD' | translate }}
            </small>
        </div>

        <!-- Arabic Title -->
        <div class="form-group col-md-6 col-12">
            <label for="titleAr">{{ 'ARABIC_TITLE' | translate }}</label>
            <input type="text" id="titleAr" class="form-control" formControlName="titleAr" required />
            <small
                *ngIf="termsAndConditionsForm.get('titleAr').hasError('required') && termsAndConditionsForm.get('titleAr').touched"
                class="form-text text-danger">
                {{ 'REQUIRED_FIELD' | translate }}
            </small>
        </div>

        <!-- English Body -->
        <div class="form-group col-md-6 col-12">
            <label for="body">{{ 'ENGLISH_MESSAGE' | translate }}</label>
            <textarea id="body" class="form-control" formControlName="body" rows="10" required></textarea>

            <small
                *ngIf="termsAndConditionsForm.get('body').hasError('required') && termsAndConditionsForm.get('body').touched"
                class="form-text text-danger">
                {{ 'REQUIRED_FIELD' | translate }}
            </small>
        </div>

        <!-- Arabic Body -->
        <div class="form-group col-md-6 col-12">
            <label for="bodyAr">{{ 'ARABIC_MESSAGE' | translate }}</label>
            <textarea id="bodyAr" class="form-control" formControlName="bodyAr" rows="10" required></textarea>
            <small
                *ngIf="termsAndConditionsForm.get('bodyAr').hasError('required') && termsAndConditionsForm.get('bodyAr').touched"
                class="form-text text-danger">
                {{ 'REQUIRED_FIELD' | translate }}
            </small>
        </div>

        <!-- Actions -->
        <div class="col-12">
            <button type="submit" rippleEffect class="btn btn-primary mr-1" (click)="onSubmit()">
                {{ 'SEND' | translate }}
            </button>
            <button type="reset" rippleEffect class="btn btn-outline-secondary" (click)="back()">
                {{ 'CANCEL' | translate }}
            </button>
        </div>
    </div>
</form>